@import './assets/variables.scss';

//Components
@import './components/NavBar/NavBar.scss';
@import './components/Footer/Footer.scss';
@import './components/Banner/Banner.scss';
@import './components/Gallery/Gallery.scss';
@import './components/Card/Card.scss';
@import './components/Collapse/Collapse.scss';
@import './components/Logement/Carrousel/Carrousel.scss';

//Pages
@import './pages/About/About.scss';
@import './pages/Error/Error.scss';

//Base
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
