.banner {
  position: relative;
  width: 1240px;
  max-width: 90%;
  margin: auto;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 50px;

  @media (max-width: 500px) {
    height: 111px;
  }

  &_Img {
    height: 100%;
    border-radius: 25px;

    img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      border-radius: 25px;
      filter: brightness(0.7);

      @media (max-width: 500px) {
        border-radius: 10px;
      }
    }
    @media (min-width: 500px) {
      border-radius: 10px;
    }
  }

  &_Texte {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;

    @media (max-width: 900px) {
      font-size: 30px;
    }
    @media (max-width: 500px) {
      font-size: 24px;
      top: 50%;
      left: 37%;
    }
  }
}
