.bloc {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 900px) {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  @media (max-width: 600px) {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  &_404 {
    margin: auto;
    color: $mainColor;
    font-family: $montserrat;
    font-size: 200px;
    font-weight: 700;

    @media (max-width: 900px) {
      font-size: 200px;
    }

    @media (max-width: 600px) {
      font-size: 96px;
    }
  }

  &_Text {
    color: $mainColor;
    font-family: $montserrat;
    font-size: 33px;
    font-weight: 500;
    text-align: center;

    @media (max-width: 900px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      margin-top: 30%;
      font-size: 18px;
    }
  }
}

.linkHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
  color: $mainColor;
  font-family: $montserrat;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;

  @media (max-width: 900px) {
    margin-bottom: 30px;
  }

  @media (max-width: 600px) {
    font-size: 14px;
    margin-bottom: 0;
  }
}
